@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: Inter, system-ui, sans-serif;
}
@layer utilities {
  .animate-scaleIn {
    animation: scaleIn 0.2s ease-out forwards;
  }

  @keyframes scaleIn {
    from {
      opacity: 0;
      transform: scale(0.95);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
}
/* globals.css */
.input {
  @apply
    w-full
    px-4
    py-2.5
    border
    border-gray-300
    rounded-lg
    text-sm
    focus:outline-none
    focus:ring-2
    focus:ring-[#0f769e]
    focus:border-transparent;
}
